<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="color-scheme" content="light dark" />
  <title>— Обжалование наказаний в основном discord-сервере gta5rp</title>
  <link href="../style.css" rel="stylesheet">
  <link href="template.css" rel="stylesheet">
</head>
<body>
  <main>
    <h1>— Обжалование наказаний в основном discord-сервере gta5rp</h1>
    <div id="payload">Здравствуйте.
Обжалование наказаний, полученных в основном Discord-сервере проекта, осуществляется в личном кабинете на сайте: https://gta5rp.com/user/report</div>
    <div class="actions">
      <button id="copyBtn" class="btn">Скопировать текст</button>
      <span id="status"></span>
    </div>
  </main>

  <script src="copy.js"></script>
</body>
</html>
