<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="color-scheme" content="light dark" />
  <title>— Поиск услуг коллера</title>
  <link href="../style.css" rel="stylesheet">
  <link href="template.css" rel="stylesheet">
</head>
<body>
  <main>
    <h1>— Поиск услуг коллера</h1>
    <div id="payload">Доброго времени суток.
Вас беспокоит модератор торговой площадки GTA5 RP.
Довожу до Вашего сведения, что любые услуги по прогнозированию ставок в казино запрещены как правилами проекта, так и правилами торговой площадки. Поиск подобных услуг так же запрещен.
На первый раз делаю Вам предупреждение. Если же Вы продолжите публиковать объявления подобного типа, будет выдано соответствующее наказание.</div>
    <div class="actions">
      <button id="copyBtn" class="btn">Скопировать текст</button>
      <span id="status"></span>
    </div>
  </main>

  <script src="copy.js"></script>
</body>
</html>
