<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="color-scheme" content="light dark" />
  <title>— MEE6 удаляет сообщения</title>
  <link href="../style.css" rel="stylesheet">
  <link href="template.css" rel="stylesheet">
</head>
<body>
  <main>
    <h1>— MEE6 удаляет сообщения</h1>
    <div id="payload">Здравствуйте
Система автоматически блокирует отправку сообщений:
▫️С содержанием недопустимых слов в тексте, которые противоречат правилам торговой площадки.
▫️С содержанием превышенного количества повторяющихся слов, символов, цифр и emoji.</div>
    <div class="actions">
      <button id="copyBtn" class="btn">Скопировать текст</button>
      <span id="status"></span>
    </div>
  </main>

  <script src="copy.js"></script>
</body>
</html>
