<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="color-scheme" content="light dark" />
  <title>— Не видно каналы</title>
  <link href="../style.css" rel="stylesheet">
  <link href="template.css" rel="stylesheet">
</head>
<body>
  <main>
    <h1>— Не видно каналы</h1>
    <div id="payload">Здравствуйте.
Зайдите в "просмотр каналов", находится в самом верху над всеми каналами сервера. Пролистайте в самый низ и найдите нужную категорию сервера. Над нужным вам сервером поставьте галочку.</div>
    <div class="actions">
      <button id="copyBtn" class="btn">Скопировать текст</button>
      <span id="status"></span>
    </div>
  </main>

  <script src="copy.js"></script>
</body>
</html>
