<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="color-scheme" content="light dark" />
  <title>— Роли Novice Trader и Prime Trader</title>
  <link href="../style.css" rel="stylesheet">
  <link href="template.css" rel="stylesheet">
</head>
<body>
  <main>
    <h1>— Роли Novice Trader и Prime Trader</h1>
    <div id="payload">Здравствуйте.
Роли Novice Trader и Prime Trader выдаются автоматически за активность по факту достижения 50 и 55 уровня. Отправляя сообщения вы повышаете свой уровень.
Топ пользователей:
https://mee6.xyz/en/gta5</div>
    <div class="actions">
      <button id="copyBtn" class="btn">Скопировать текст</button>
      <span id="status"></span>
    </div>
  </main>

  <script src="copy.js"></script>
</body>
</html>
