<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="color-scheme" content="light dark" />
  <title>— Роль Slowmode</title>
  <link href="../style.css" rel="stylesheet">
  <link href="template.css" rel="stylesheet">
</head>
<body>
  <main>
    <h1>— Роль Slowmode</h1>
    <div id="payload">Здравствуйте.
Ваш аккаунт попал под фильтр подозрительной активности. После каждой публикации объявления за вами будет закрепляться роль, запрещающая отправлять сообщения в течении часа.
Данная роль выдается и снимается автоматически. Продолжайте пользоваться площадкой, как только система проанализирует вашу активность, так роль будет снята.</div>
    <div class="actions">
      <button id="copyBtn" class="btn">Скопировать текст</button>
      <span id="status"></span>
    </div>
  </main>

  <script src="copy.js"></script>
</body>
</html>
